<app-header titulo="Action Sheet"> </app-header>

<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons>
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title></ion-title>

    </ion-toolbar>
</ion-header>




<ion-content>
    <ion-card>
        <img src="https://i.pinimg.com/236x/3a/5a/93/3a5a93f305a1de6395c933539534bb70.jpg" />
        <ion-card-header>
            <ion-card-subtitle>Prueba de card</ion-card-subtitle>
            <ion-card-title>Hola bola</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Ola esta es la prueba de un card.
        </ion-card-content>
    </ion-card>

    <ion-item>
        <ion-badge slot="start" color="dark">10</ion-badge>
        <ion-label>Label</ion-label>
        <ion-badge slot="end" color="dark">100</ion-badge>
    </ion-item>

    <ion-item>
        <ion-label>MM DD YY</ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
    </ion-item>


    <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ion-content>

<ion-badge color="dark">Alert</ion-badge>


Examen de 3er Parcial pueba de componente.
<ion-content>
    <ion-chip color="secondary">
        <ion-label color="dark">Esta es una prueba para el examen.</ion-label>
    </ion-chip>

    <ion-chip>
        <ion-icon name="heart" color="dark"></ion-icon>
        <ion-label>Dele like pa pasar el examen.</ion-label>
    </ion-chip>
</ion-content>